@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<Photo>
}

<form method="post" asp-action="Upload" asp-controller="Home" enctype="multipart/form-data" class="dropzone" id="photo-dropzone">
     <div class="fallback">
        <input name="files" type="file" multiple />
    </div>
</form>



<div class="row" id="thumbnailsContainer">
   @foreach (var photo in Model) {

    <div class="col-sm-6 col-md-4" data-hashtags="@{String.Join(',',photo.Labels.Select(l=>l.Description));}">
        
        <div class="thumbnail">
        <img src="uploads/@photo.Thumbnail">
        <div class="caption">
            <h3></h3>
            <p class="hashtags"> @foreach (var label in photo.Labels) {
                @string.Format("#{0} ", label.Description.Replace(" ","")) 
                } </p>

            <a asp-action="GetPhoto" asp-controller="Home" asp-route-id="@photo.PhotoId" class="btn btn-primary btn-ale" 
             data-toggle="modal" data-remote="false" data-target="#previewModal"><i class="glyphicon glyphicon-zoom-in"></i></a>             
                <form method="post" asp-action="Delete" asp-controller="Home" style="display: inline-block" >
                    <input type="hidden" name="photoId" value="@photo.PhotoId" />
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                </form>
             
        </div>
        </div>
    
    </div>
   }
</div>



<!-- Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photo details</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script id="previewTemplate" type="text/x-jsrender">
 <p><img src="uploads/{{:filename}}" class="preview-photo"></p>
 <p> {{for labels}}#{{:description}} {{/for}} </p>
</script>